# dependencies
node_modules/

# build
/dist
/build
*.tsbuildinfo

# env & secrets
.env
.env.*
!.env.example

# prisma generated client (if custom output)
/generated/prisma

# logs & debug
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# test
/coverage
/.nyc_output

# OS / IDE
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.pem

# uploads / local data
/uploads
*.db
*.db-journal
